<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="height: 85vh;">
                    <div class="panel-body">
                        <div class="error-area ptb--100 text-center" style="background: #ffffff;">
                            <div class="container">
                                <div class="error-content">
                                    <div class="d-grid text-center">
                                        <span style="font-size: 30px;">8D Repository</span>
                                    </div>
                                    <hr />
                                    <div class="d-flex">
                                        <span>
                                            <i class="fa fa-bug" style="font-size: 60px;color: #1A65A8;"></i>
                                        </span>
                                        <h2 style="font-size: 30px">Access is allowed only for registered users</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>